* {
  box-sizing:border-box;
  /* border:1px solid red; */
}

body {
  font-family: 'Open Sans', sans-serif;
  height:100vh; 
  display:grid;
  grid-template-columns:30%;
  grid-template-rows:10%;
  grid-template-areas:
    "top top"
    "aside main"
    "aside main";
} 


/*** Header ****/
.header__container {
  background-color:#1f1f3d;
  grid-area:top;
}



/*** Main *****/
.main__container {
  grid-area:main;
  background-color:#f3f6f7
}



/***** nav **** */
.nav__container {
  grid-area:aside;
  background-color:#587a8a;
  display:flex;
  flex-direction: column;
  padding:10px;
}

.nav__form {
  display:flex;
  flex-direction: column;
}

.nav__input {
  background-color:#1f1f3d;
  color:#ffffff;
}

.nav__input--text {
  background-color:#ffffff;
}