* {
  box-sizing:border-box;
}

body {
  display:grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns:30%;
  grid-template-rows:12%;
  height:100vh; 
  grid-template-areas:
    "top top"
    "navi main"
    "navi main";
} 

/********** Header ****************/
h1 {
  color:#ffffff;
  font-size:3.0em;
  margin-left:.5rem;
}

span {
  color:#ffc30c;
}

.header__container {
  align-items: center;
  background-color:#1f1f3d;
  display:flex;
  grid-area:top;
  justify-content: space-between;
}

.header__input {
  height:50px;
  margin-right:.5rem;
  padding-left:.5rem;
  width:350px;
}

.header__div--inputs {
  display:flex;
  height:50px;
}

.header__img {
  background-color: #f3f6f7;
  height: 50px;
}

/********* Main ********/
.card__main--container {
  background-color:#f3f6f7;
  grid-area:main;
  padding:20px;
}

.card__article--container {
  border:1px solid #c7d3d8;
  color:#1f1f3d;
  display:flex;
  flex-flow: column;
  max-width: 350px;
  margin-bottom:1rem;
}

.card__header {
  border-bottom:1px solid #c7d3d8;
  color:#1f1f3d;
  display:flex;
  height:15%;
  justify-content: flex-start;
}

.card__h3--title {
  font-size:1.1em;
  margin-left:.5rem;
}

.card__section--main {
  min-height:60%;
}

.card__paragraph {
  align-items: flex-start;
  display:flex;
  flex-direction: column;
  margin:5px;
}

.card__div--task { 
  align-items: center;
  display:flex;
  height: 20%;
  justify-content: flex-start;
  margin:1% 2%;
  width:100%;
}

.card__paragraph--text {
  font-size:1em;
}

.card__img--task {
  height:20px;
  margin-right:.6rem;
}

.card__footer {
  border-top:1px solid #c7d3d8;
  display:flex;
  height:25%;
  justify-content: space-between;
  padding:0px 5px;
}

.card__footer--images {
  margin-bottom:5px;
  width:25px;
}

.card__footer--delete {
  width:30px;
}

.card__paragraph-btns {
  align-items: center;
  color:#3c6577;
  display: flex;
  flex-direction: column;
  font-size: .8em;
}

.card__label--message {
  color:#ffc30c;
  font-size: 2em;
  font-weight: 800;
}

/***** nav ******/
.nav__container {
  background-color: #587a8a;
  display: flex;
  flex-direction: column;
  grid-area: navi;
  padding-top: 30px;
}

.nav__form {
  flex-direction: column;
}

.nav__form--top {
  display:flex;
  justify-content: space-between;
  min-height:25%;
}

.nav__form--bottom {
  border-bottom:2px #3c6577 solid;
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  min-height: 150px;
}

.nav__label {
  color:#c7d3d8;
  display:block;
  font-size:1.1em;
  margin-left:.57rem;
}

.nav__input {
  align-items: center;
  background-color:#ffffff;
  border:#1f1f3d solid 2px;
  height:50px;
  margin-left:.51rem;
  padding-left:.5rem;
  width:95%;
}

.nav__input--icon {
  background-color: #1f1f3d;
  color:#ffffff;
  font-size:2em;
}

.nav__div--append-btn {
  display:flex;
  width:98%;
}

.nav__input--icon {
  background-color:#1f1f3d;
  border:2px solid #1f1f3d;
  height: 50px;
  width:60px;
}


.nav__input--btn {
  background-color:#1f1f3d;
  border:2px solid #1f1f3d;
  color:#ffffff;
  margin-left:.51rem;
  width:95%;
}

.nav__input--btn-submit {
  margin-left:.51rem;
  margin-top:20px;
}

.nav__input--btn-submit:active {
  background-color:#ef4a23;
}

.nav__input--text {
  background-color:#ffffff;
  margin-bottom:10px;
}

.nav__div--task-item {
  display:flex;
  align-items: center;
  margin: 1rem 1.1rem;
  color:#ffffff;
}

.nav__input--task-delete {
  height:22px;
  margin-right:.5rem;
  width:22px;
}

@media screen and (max-width: 800px) {
  h1{
    font-size: 2.5em;
  }

  .header__input {
    width:220px;
  }
}

@media screen and (max-width: 600px) {
  body {
    display:block;
  }

  h1 {
    font-size:2.4em;
    margin-left:0rem;
  }

  .card__main--container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header__container{
    display:block;
    padding:.2rem;
    text-align: center;
  }

  .header__input {
    align-items: center;
    margin-right:0rem;
    width:100%;
  }

  .header__div--inputs {
    margin:.9rem;
  }

  .nav__input--btn-urgency {
    margin-bottom:1rem;
  }

  .card__header {
    height:20%;
  }

  .card__article--container {
    min-width: 320px;
    max-width: 600px;
  }
}

